<app-navbar></app-navbar>
<br><br><br><br><br>

<section>
    <h2>Consulting</h2>
    <p>Expert advice for your tech journey.</p>
    <a routerLink="/consulting">Learn more</a>
</section>
<section>
    <h2>Projects</h2>
    <p>See our innovative work.</p>
    <a routerLink="/projects">View projects</a>
</section>
<section>
    <h2>Products</h2>
    <p>Discover our products.</p>
    <a routerLink="/products">Browse products</a>
</section>
<section>
    <h2>Clients</h2>
    <app-client-swiper></app-client-swiper>
</section>
<br><br><br><br><br>
<app-footer></app-footer>